#container {
    width: 600px;
    margin: 20px auto;
}

#container h1 {
    display: inline-block;
    background-color: #0404aa;
    color: #fff;
}

#container .accent {
    color: red;
    font-weight: bold;
}